
<% include wrapper/header.ejs %>

<% if (req.session && req.session.user) { %>
	<form action="/gallery" name="imgForm" method="post" enctype="multipart/form-data" onsubmit="return validate();">
		<fieldset>
		<legend>Image Upload</legend>
			<div class="grid-12 equalize">
			
			<div class="span-2">
				<label for="title">Title</label>
				<input id="title" type="text" name="title" />
			</div>
			<div class="span-3">
				<label for="img">Image file</label>
				<input id="img" type="file" accept="image/*" name="image" />
			</div>
			<div class="span-3">
				<label for="des">Description</label>
				<textarea id="des" rows="1" cols="30" name="des" ></textarea>
			</div>
			<div class="span-1">
				<input type="submit" style="margin-top: 25px;" value="Upload" />
			</div>
			<div class="clear"></div>
			
			</div>	
		</fieldset>
	</form>
<% } else { %>
	<p> Login to submit images </p>
<% } %>

<% if (locals.msg) { %>
	<%= msg %>
<% } %>

<div>
	<% if (locals.imageList) { %>
	<div class="gallery">
	<% for (var i = 0; i < imageList.length; i++){ %>		
	    <div class="galleryItem">
	        <a href="<%= imageList[i].source %>"><img src="<%= imageList[i].source %>" alt="<%= imageList[i].name %>"></a>
	        <h3><%= imageList[i].name %></h3>
	        <p><%= imageList[i].description %></p>
	        <p><i>Submitted by: </i></i><b><%= imageList[i].user %></b></p>
	    </div>
	<% } %>
	</div>
	<% } %>
</div>
	
<script>
	function validate() {
		var title = document.forms["imgForm"]["title"].value;
		var img = document.forms["imgForm"]["image"].value;
		
		if (title == null || title == "") {
		  alert("Title of image is required");
		  return false;
		}
		
		if (img == null || img == "") {
		  alert("No image selected");
		  return false;
		}
	}
</script>

<% include wrapper/footer.ejs %>
